.container-animes {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.anime-row__item {
  display: flex;
  width: 142px;
  height: 230px;
  margin: 10px 15px;
  cursor: pointer;
}

.anime-row__item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.anime-row__item img:hover {
  transform: scale(1);
}

.out-modal {
  z-index: -1;
}

.invisible {
  display: none;
}
